@font-face 
{
    font-family: Raleway;
    src: url(Raleway.ttf);
}

body
{
    font-family: Raleway;
    padding: 20px;
    background-color: antiquewhite;
}

.search
{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#train
{
    padding: 15px;
}

.hidden
{
    display: none;
}

#seats
{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}

.seat
{
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.seat.selected
{
    background-color: red;
}

.seat.booked
{
    background-color: blue;
    cursor: not-allowed;
}

table, th, td
{
    border: 1px solid black;
}

th, td
{
    padding: 5px;
    text-align: center;
}