@font-face 
{
    font-family: Raleway;
    src: url(Raleway.ttf);
}

body
{
    font-family: Raleway;
    padding: 20px;
    background-color: antiquewhite;
}

.search
{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 40px 10px;
    font-size: 16pt;
}

#train
{
    padding: 0px;
}

.hidden
{
    display: none;
}

#seats
{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(14, auto);
    gap: 10px;;
    padding: 10px 10px 30px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.seat
{
    display: flex;
    align-items: center;
    font-size: 12pt;
    padding: 5px;
    border: 1px solid black;
}

.seat input
{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.seat.booked input
{
    cursor: not-allowed;
}

table
{
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 15px;
}

th, td
{
    border: none;
    padding: 6px 10px;
}