@font-face 
{
    font-family: DMSans;
    src: url(DMSans.ttf);
}

body
{
    font-family: DMSans;
    padding: 20px;
    background-color: antiquewhite;
}

.search
{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    font-size: 16pt;
}

#direction, #date, #searchButton
{
    width: 150px;
}

hr
{
    border: none;
    border-top: 1px solid rgb(170, 170, 170);;
}

#train
{
    max-width: 820px;
}

#flex
{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 20px;
    align-items: center;
}

#bookButton
{
    height: 30px;
    width: 100px;
}

.hidden
{
    display: none;
}

#seats
{
    width: 800px;
    display: grid;
    grid-template-columns: repeat(14, auto);
    gap: 5px;
    margin-top: 30px;
    padding: 15px 15px 30px 15px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
}

.seat
{
    width: 40px;
    display: flex;
    align-items: center;
    font-size: 12pt;
    padding: 5px;
    border: 1px solid rgb(110, 110, 110);
}

.seat input
{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.seat.booked input
{
    cursor: not-allowed;
}

table
{
    border-collapse: collapse;
    border: 1px solid rgb(170, 170, 170);
    margin-top: 15px;
}

th, td
{
    border: 1px solid rgb(170, 170, 170);
    padding: 8px 30px;
}